<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='css/index.css') }}"
		/>
		<title>{%block title%}Home{%endblock%}</title>
	</head>
	<body class="has-navbar-fixed-top">
		<nav
			class="navbar is-fixed-top"
			role="navigation"
			aria-label="main navigation"
		>
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img
						src="https://bulma.io/images/bulma-logo.png"
						width="112"
						height="28"
					/>
				</a>
				<a
					role="button"
					class="navbar-burger"
					aria-label="menu"
					aria-expanded="false"
					data-target="navbarBasicExample"
				>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item"> Home </a>

					<a class="navbar-item"> Doctors </a>
					<!-- Button to add the scan -->
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						{%if not user.is_authenticated%}
						<div class="buttons has-text-weight-medium">
							<a
								class="button is-primary has-text-weight-medium"
								href="/auth/signup"
							>
								Sign up
							</a>
							<a
								class="button is-light has-text-weight-medium"
								href="/auth/login"
							>
								Log in
							</a>
						</div>
						{%else%}
						<a
							class="button is-dark has-text-weight-medium"
							href="/auth/logout"
						>
							Logout
						</a>
						{%endif%}
					</div>
				</div>
			</div>
		</nav>
		<!-- Flash Message -->
		{%with messages = get_flashed_messages(with_categories=true)%} {% if
		messages %} {%for category,message in messages%} {% if category=='error' %}
		<div class="alert alert-danger alter-dismissable fade show" role="alert">
			{{message}}
			<button class="close" type="button" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{%else%}
		<div class="alert alert-success alter-dismissable fade show" role="alert">
			{{message}}
			<button class="close" type="button" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{%endif%} {%endfor%} {%endif%} {%endwith%}
		<div class="container">{%block content%}{%endblock%}</div>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			type="text/javascript"
			src="{{ url_for('static',filename='index.js') }}"
		></script>
	</body>
</html>
