<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='css/index.css') }}"
		/>
		<title>{%block title%}Home{%endblock%}</title>
	</head>
	<body class="hero has-navbar-fixed-top is-fullheight" style="height: 100vh; width: 100%;">
		<nav
			class="navbar is-fixed-top has-background-light"
			role="navigation"
			aria-label="main navigation"
		>
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img
						src="https://bulma.io/images/bulma-logo.png"
						width="112"
						height="28"
					/>
				</a>
				<a
					role="button"
					class="navbar-burger"
					aria-label="menu"
					aria-expanded="false"
					data-target="navbarBasicExample"
				>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/"> Home </a>

					<a class="navbar-item"> Doctors </a>
					<!-- Button to add the scan -->
					{%if user.is_authenticated and user.role=='Patient'%}
					<div class="buttons pl-2">
							<button class="navbar-item button is-primary is-outlined js-modal-trigger" data-target="modal-js-example">Review Scan</button></div>
					{%endif%}
					</div>

				<div class="navbar-end">
					<div class="navbar-item">
						{%if not user.is_authenticated%}
						<div class="buttons has-text-weight-medium">
							<a
								class="button is-primary has-text-weight-medium"
								href="/auth/signup"
							>
								Sign up
							</a>
							<a
								class="button is-light has-text-weight-medium"
								href="/auth/login"
							>
								Log in
							</a>
						</div>
						{%else%}
						<a
							class="button is-dark has-text-weight-medium"
							href="/auth/logout"
						>
							Logout
						</a>
						{%endif%}
					</div>
				</div>
			</div>
		</nav>
		<div id="modal-js-example" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<form class="box p-5" action="/upload-scan" method="post" enctype="multipart/form-data">
					<span class="has-text-link ml-5 is-size-5 has-text-weight-semibold">Predict your scan</span>
					<br>
					<div class="pl-5">
					<h1>Select the type of your concerned disease.</h1>
					<div class="field">
						<div class="columns">
						<label class="label has-text-link column is-two-fifths">Scan Type: </label>
						<div class="control column">
							<div class="select">
								<select name="type" class="input is-link">
									<option value="Brain Tumor">Brain Tumor</option>
									<option value="Pneumonia">Pneumonia</option>
									<option value="Tuberculosis">Tuberculosis</option>
								</select>
							</div>
						</div>
						</div>
					</div>
					</div>
					<div class="notification mb-0 ml-5 pl-0 is-white">
						Select the image of your report from the device for further diagnosis
					</div>
					<!-- <form  action="/upload-scan" method="post" enctype="multipart/form-data"> -->
					<input type="button" id ="fileUpload" value="Select your scan" class="button is-link ml-5 mr-5 mt-0 mb-3" onclick="document.getElementById('file').click();" />
					<input type="file" style="display:none;" id="file" name="scan" accept="image/*"/>
					<div id="upload" style="box-shadow: none;" hidden>
						<img id="preview" src="#" width="350px" height="350px" style="object-fit: contain;" class="ml-5" alt="your image" />
						<br>
						<button class="button is-link mt-4" type="submit">Predict</button>
					</div>
					<!-- </form> -->
				</div>
			</form>
		</div>
		<button class="modal-close is-large" aria-label="close"></button>
		<!-- Flash Message -->
		<div>
		{%with messages = get_flashed_messages(with_categories=true)%} {% if
		messages %} {%for category,message in messages%} {% if category=='error' %}
		<div class="box flash-message has-background-danger mt-3 ml-6 mr-6" role="alert">
			{{message}}
			<button class="close pull-right" type="button" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{%else%}
		<div class="box flash-message has-background-primary mt-3 ml-6 mr-6" role="alert">
			{{message}}
			<button class="close pull-right" type="button" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{%endif%} {%endfor%} {%endif%} {%endwith%}
		</div><div class="container">{%block content%}{%endblock%}</div>
		 <!--   footer starts from here  -->
		 <footer class="footer hero-foot pb-5 pl-6 mt-auto is-flex-align-items-flex-end" style="background-color: rgb(49, 49, 49);">
		  
	  
	  <!-- Three columns created using columns class of Bulma -->
	  <div class="columns has-text-white">
		  <!-- Column 1 -->
		<div class="column">
	  
		  <!-- Heading is left aligned, medium weight -->
		  <h4 class="bd-footer-title 
					 has-text-weight-bold
					 has-text-left">
			GeeksforGeeks
		  </h4>
	  
		  <!-- footer content -->
		  <p class="bd-footer-subtitle 
					has-text-left">
			Company Name
		  </p>

		  <div class="content">
			<p>Copyright © Geeks</p>
	  
		  </div>
	  
		</div>
	  
		<!-- Column 2 -->
		<div class="column">
		  <h4 class="bd-footer-title 
					 has-text-weight-bold 
					 has-text-justify">
			Services
		  </h4>
	  
		  <!-- Column 2 lists with links -->
		  <p class="bd-footer-subtitle">
			 <a href="https://" class="has-text-white">
			  <span class="icon-text">
				<span>Review dialgnosis report</span>
			  </span>
			 </a>
			  <br />
			  <a href="https://" class="has-text-white">
				  <span class="icon-text">
					<span>Book an appointment</span>
				  </span>
				</a>
		  </p>
	  
		</div>
	  
		<!-- Column 3 -->
		<div class="column">
		  <h4 class="bd-footer-subtitle
					 has-text-weight-bold
					 has-text-justify">
			Contact us
		  </h4>
	  
		  <!-- Column 3 lists with links -->
		  <p class="bd-footer-subtitle"> 
			  <a href="https://" class="has-text-white">
				  <span class="icon-text">
					<span>Contact Us</span>
				  </span>
				</a>
			  <br />
			  <a href="https://" class="has-text-white">
				  <span class="icon-text">
					<span>About us</span>
				  </span>
				</a>
		  </p>
	  
		</div>

		<!-- Column 4 -->
		<div class="column">
	  
			<!-- Heading is left aligned, medium weight -->
			<h4 class="bd-footer-title 
					   has-text-weight-bold
					   has-text-left">
			  GeeksforGeeks
			</h4>
		
			<!-- footer content -->
			<p class="bd-footer-link 
					  has-text-left">
			  Company Name
			</p>
  
			<div class="content">
			  <p>Copyright © Geeks</p>
		
			</div>
		
		  </div>
	  </div>
	</footer>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			type="text/javascript"
			src="{{ url_for('static',filename='index.js') }}"
		></script>
	</body>
</html>
