{% extends "base.html" %} {%block title%}Home{%endblock%} {%block content%}
<div class="flex">
	<section class="hero homepage-image">
		<img
			src="{{ url_for('static',filename='images/home2.webp') }}"
			class="home-image"
			alt="HomePage Image"
		/>
	</section>
	<form action="/upload-scan" method="post" enctype="multipart/form-data">
		<input
			type="button"
			id="fileUpload"
			value="Add Scan +"
			class="button is-pulled-right mt-3 is-primary"
			onclick="document.getElementById('file').click();"
		/>
		<input
			type="file"
			style="display: none"
			id="file"
			name="image"
			accept="image/*"
		/>
		<img id="preview" src="#" alt="your image" hidden />
		<button type="submit" class="button is-primary">Upload</button>
	</form>
</div>
{%endblock%}
